@import "../../css/partials/variables";

.catalog-products-module {
  .block-products {
    margin: 40px 0;
  }

  .products-headline {
    text-align: center;
    margin-bottom: 32px;

    h1, h2 {
      font-size: 48px;
      line-height: 56px;

      @include _992 {
        font-size: 32px;
        line-height: 36px;
      }
    }
  }

  .all-products {
    width: 100%;
    text-align: center;
    margin-top: 16px;

    a {
      width: max-content;
      color: #fff;
      background: var(--green-main);

      @include _480 {
        width: 100%;
      }
    }
  }
}