@import "../../css/partials/variables";

.hero-module {
  background-position: center;
  background-size: cover;
  position: relative;

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 4, 4, 0.7);
  }

  .hero-block {
    padding-top: 50px;
    position: relative;
    color: white;

    @include _767 {
      padding-top: 15px;
    }
  }

  .hero-advantage {
    padding: 60px 0;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);

    @include _767 {
      grid-template-columns: 1fr;
    }

    .hero-advantage-wrapper {
      display: flex;
      align-items: center;

      p {
        padding-left: 10px;
        font-weight: 500;
      }
    }
  }

  h1 {
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    @include _992 {
      font-size: 32px;
      line-height: 36px;
    }

    @include _480 {
      font-size: 26px;
      line-height: 32px;
      text-align: center;
    }
  }

  .hero-advantage-wrapper {
    svg {
      background: #0fc12a;
      border-radius: 50%;
      min-width: 40px;
    }
  }

  .hero-buttons {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 60px;

    @include _767 {
      grid-template-columns: 1fr;
      padding: 15px 0;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      line-height: 24px;
      width: 100%;
      height: 60px;
      text-align: center;
      font-weight: 600;

      @include _767 {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
}