@import "../../css/partials/variables";

.own-production-module {
  margin: 100px 0;

  @include _992 {
    margin: 60px 0;
  }

  .own-production-block h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
    line-height: 56px;

    @include _992 {
      font-size: 32px;
      line-height: 36px;
    }
  }

  .own-production-block p {
    font-size: 22px;
    line-height: 28px;
    color: #313131;
    margin-bottom: 40px;
    text-align: center;

    @include _768 {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .own-production-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include _768 {
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-right: 0;
    }
  }
}